@model IEnumerable<BibliotecaMVC.Autora>

@{
    ViewData["Title"] = "Autora";
}

<h1>Autora</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
        </tr>
}
    </tbody>
</table>
